@import "lib/material/material.less";

html, body {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;
}

div {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 10px;
}

.app-bar {
    .material-app-bar();
    color: @white;
    padding-left: 64px;
}

#newButton {
    .material-floating-action-button();
    //bottom:  64px - (56px / 2);
    bottom:  40px;
    right: 350px;
}

.layout {
    width: 100%;
    height: calc(~"100% - 64px");

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#note-block {
    height: 100%;
    flex-grow: 2;

    padding: 5px;

    #editor {
        width: 100%;
        height: 100%;
    }
}



#left-panel {
    width: 300px;
    height: 100%;

    .drawer-elevation();

    padding-top: 20px;

    text-align: center;

    #snippet-list {

        overflow-y: auto;

        display: flex;
        flex-direction : column;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;

        .snippet {
            .material-card();

            text-align: left;

            width: 200px;
            max-width: 200px;

            max-height: 150px;
            min-height: 23px;

            margin: auto;

            margin-bottom: 10px;
            padding: 3px 5px;

            cursor: pointer;

            font-size: 0.8rem;

            overflow: hidden;
            text-overflow: ellipsis;


            white-space: pre;
            word-wrap: break-word;

            .snippet-closer {

                text-align: center;

                background-color: @red;
                color: @white;

                padding: 0;
                margin: 0;

                position: absolute;

                top: 0;
                right: 10px;
                line-height: 0px;
                height: 0px;
                min-height: 0px;

                width: 17px;
                min-width: 17px;

                box-shadow: 0;

                font-size: 0px;

                transition+: height 0.3s ease-in-out,
                        line-height 0.3s ease-in-out,
                        font-size 0.3s ease-in-out;
                .material-icons {
                    line-height: 17px;
                    font-size: 0px;
                }
            }

            &:hover .snippet-closer {
                transition+: height 0.3s ease-in-out,
                        line-height 0.3s ease-in-out,
                        font-size 0.3s ease-in-out;;
                height: 17px;
                line-height: 17px;
                .raised-button-elevation();
                position: absolute;
                .material-icons {
                    line-height: 17px;
                    font-size: 13px;
                }
            }

            .snippet-saver {

                text-align: center;

                background-color: @white;
                color: @green;

                &.saved {
                    background-color: @green;
                    color: @white;
                }

                padding: 0;
                margin: 0;

                position: absolute;

                bottom: 0;
                left: 10px;
                line-height: 0px;
                height: 0px;

                width: 17px;
                min-width: 17px;

                box-shadow: 0;

                transition+: height 0.3s ease-in-out,
                        line-height 0.3s ease-in-out;

                .material-icons {
                    line-height: 17px;
                    font-size: 13px;
                }
            }

            &:hover .snippet-saver {
                height: 17px;
                line-height: 17px;
                .raised-button-elevation();
                position: absolute;

                transition+: height 0.3s ease-in-out,
                        line-height 0.3s ease-in-out,
                          font-size 0.3s ease-in-out;

                .material-icons {
                    line-height: 17px;
                    font-size: 16px;
                }

            }
        }

        max-height: 85%;
    }

    #save-btn {
        .material-raised-button();
        width: 92%;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 10px;

        &:active {
            position: absolute !important;
        }

   }
}